[submodule "SIPL"]
	path = SIPL
	url = https://github.com/philliihd/SIPL.git
[submodule "OpenCLUtilityLibrary"]
	path = OpenCLUtilityLibrary
	url = https://github.com/philliihd/OpenCLUtilityLibrary.git
